
body {
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}
/* div {
    border: 1px black solid;
} */

h1 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 40px;
    font-size: 40px;
}

.searchByName {
    margin: 1em;
}

.searchByZip {
    margin: 1em;
    margin-left: 4em;
    margin-right: 4em;
}

.input {
    border-radius: 8px;
}

.button {
    border-radius: 8px;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 10px;
}

.savedCities button {
    flex-direction: column;
    font-size: 18px;
    margin: 0;
    padding: 8px 5px 5px 5px;
    width: 100%;
}

.current-weather {
    justify-content: center;
}

.current-temp {
    text-align: center;
    font-size: 44px;
    color: black;
}

.feels-like {
    text-align: center;
}

.weather-now {
    text-align: left;
    padding-top: 10px;
    margin-left: -10px;
}

#wicon {
    text-align: right;
}

.snapshot {

}

.weather-data {

    font-size: 20px;
    line-height: 45px;
    padding-top: 10px;
}

.next-3-hours {
    text-align: center;
}

.green {
    background-color: rgb(129, 245, 129);
    border-radius: 10px;
}

.yellow {
    background-color: rgb(250, 250, 128);
}

.orange {
    background-color: rgb(253, 200, 101);
}

.red {
    background-color: rgb(255, 134, 134);
}

.purple {
    background-color: rgb(193, 118, 255);
}

.tile {
    font-size: 16px;
    background-color: rgb(107, 176, 255);
    text-align: center;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

/* use @media to control width as screen size is smaller  */